.popover-value-submit {
  &>.arrow {
    top:  -8px !important;
  }
  .popover-inner {
    padding: 5px;
  }
}

.popover-code-submit {
  max-width: 450px;
  .popover-content {
    min-width: 350px;
    .ui-select-container {
      flex: 1;
      .ui-select-choices-row-inner {
        white-space: inherit;
      }
    }
  }
}