div(class="form-row" ng-repeat="cond in conditions")
	div(class="col-auto")
		select(class="form-control-sm" ng-model="cond.field" ng-change="changeField($index)")
			option(ng-repeat="opt in fields" ng-value="opt.field"){{opt.name}}
	div(class="col-auto")
		select(class="form-control-sm" ng-model="cond.cond")
			option(ng-repeat="opt in compList" ng-if="showCondition(opt.val, cond)" ng-value="opt.val"){{opt.label}}
	div(class="col-auto")
		input(type="text" class="form-control-sm" ng-model="cond.value")
	div(class="col-auto")
		button(class="btn btn-outline-danger btn-sm" ng-click="ondelcond($index)")
			i(class="fa fa-minus")
		button(class="btn btn-outline-success btn-sm" ng-click="onaddcond()")
			i(class="fa fa-plus")
div(class="form-row" ng-show="conditions.length == 0")
	button(class="btn btn-outline-success btn-sm" ng-click="onaddcond()")
		i(class="fa fa-plus")