
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Автозаказ
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href="/js/lib/ui-grid/ui-grid.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet',  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
    link(rel='stylesheet', href="/css/main1.css")
  body
    block content