div(ng-controller="MyCtrl7 as $ctrl")
    h3 Журнал заявок
    {{$ctrl.exchange.phname}}
    small
        div(class="grid" ui-grid="$ctrl.gridOptions" ui-grid-grouping ui-grid-move-columns ui-grid-exporter ui-grid-resize-columns ui-grid-selection)
