div
    h3 Настройка параметров обработки активной матрицы филиала
    {{$ctrl.exchange.filial}}
    ph-filter(conditions="$ctrl.exchange.conditions" fields="$ctrl.fieldsList")
    div(ng-show="loading") 
        i(class="fa fa-spinner fa-spin") 
        Загрузка ...
    div(class="form-row")
        a(class="btn btn-outline-primary btn-sm" ng-click="onClick()") Получить
        a(class="btn btn-outline-primary btn-sm" ng-click="oncreate()") Добавить
        a(class="btn btn-outline-info btn-sm" ng-click="onstat()") Статистика
    div(ng-show="checkadd")
     input(type="text" ng-model="newgrpcode" placeholder="Введите групповой код")
    small
     div(class="grid" ui-grid="$ctrl.gridOptions" ui-grid-cellnav ui-grid-save-state ui-grid-move-columns ui-grid-exporter ui-grid-edit ui-grid-resize-columns ui-grid-selection)
