div(ng-controller="MyCtrl5")
    h Выбор аптеки
    small
    div(ng-repeat="pharm in pharms")
        a(class="btn btn-outline-primary btn-block" ng-click="clickph(pharm,$index)") {{pharm.Ph_Name}}
                    

