div
    div(ui-i18n='ru')
        div(ng-if="vm.step === 'ds'")
            div
                ph-filter(conditions="vm.exchange.conditions" fields="vm.fieldsListDS")
                .form-row
                    .col-auto
                        a(class="btn btn-outline-primary btn-sm" ng-click="vm.onGetDS()") Получить
                        button(class="btn btn-outline-primary btn-sm" ng-click="vm.onMove()") Перемещения
                        a(class="btn btn-outline-primary btn-sm" ng-click="vm.onReady()") Готовые
            div(loading="vm.loading")
            small
                div(class="grid" ui-grid="vm.gridOptionsDS" ui-grid-save-state ui-grid-move-columns ui-grid-exporter ui-grid-resize-columns ui-grid-selection ui-grid-cellnav)
        div(ng-if="vm.step === 'ready'")
            div
                ph-filter(conditions="vm.conditionsReady" fields="vm.fieldsListReady")
                .form-row
                    .col-auto
                        a(class="btn btn-outline-primary btn-sm" ng-click="vm.onGetReady()") Получить
                        button(class="btn btn-outline-primary btn-sm" ng-click="vm.onBack()") Сверхнормативы
            div(loading="vm.loading")
            small
                div(class="grid" ui-grid="vm.gridOptionsReady" ui-grid-grouping ui-grid-save-state ui-grid-move-columns ui-grid-exporter ui-grid-resize-columns ui-grid-cellnav)
        div(ng-if="vm.step === 'move'")
            div
                ph-filter(conditions="vm.conditionsTransfer" fields="vm.fieldsListTransfer")
                .form-row
                    .col-auto
                        a(class="btn btn-outline-primary btn-sm" ng-click="vm.onGetTransfer()") Получить
                        a(class="btn btn-outline-primary btn-sm" ng-click="vm.onTransfer()") Переместить
                        button(class="btn btn-outline-primary btn-sm" ng-click="vm.onBack()") Сверхнормативы
            div(loading="vm.loading")
            small
                div(class="grid" ui-grid="vm.gridOptionsTransfer" ui-grid-save-state ui-grid-move-columns ui-grid-exporter ui-grid-edit ui-grid-resize-columns ui-grid-selection ui-grid-cellnav)
