div(ng-controller="MyCtrl13")
    h3 Статистика
    form
        div(class="form-row")
            div(class="col")
                input(type="text" class="form-control" placeholder="Введите групповой код" ng-model="searchGrp")
            div(class="col")
                input(type="text" class="form-control" placeholder="Введите код аптеки" ng-model="searchPh")
            a(class="btn btn-outline-primary btn-sm" ng-click="onsearch()") Получить
        div(class="form-row")
            div(class="col")
                Позиция: {{Gr_Name}}
            div(class="col")
                Аптека: {{Ph_Name}}
        canvas(id="base" class="chart-bar" chart-data="data" chart-labels="labels" chart-colors="colors" chart-dataset-override="datasetOverride")
            
