<absolute-loading ng-if="busy"></absolute-loading>
<script type="text/ng-template" id="popovers/new-pharm.html">
    <div class="input-group">
        <input type="number" min="1" class="form-control" ng-model="$ctrl.popovers.pharm" placeholder="Код аптеки">
        <div class="input-group-append">
            <button class="btn btn-outline-info" ng-click="$ctrl.onPopoverPharmSubmit($ctrl.popovers.pharm)" type="button">Создать</button>
        </div>
    </div>
</script>
<div ng-if="currentUser.interface !== 4">
    <div>Выбор аптеки</div>
    <div ng-repeat="pharm in $ctrl.pharms">
        <a class="btn btn-outline-primary btn-block" ng-click="$ctrl.clickph(pharm,$index)">{{pharm.Ph_Name}}</a>
    </div>
</div>
<div class="container-fluid" style="margin-top: 30px" ng-if="currentUser.interface === 4">
    <button class="btn btn-outline-success"
       ng-click="$ctrl.popoverPharmOpened = !$ctrl.popoverPharmOpened"
       popover-is-open="$ctrl.popoverPharmOpened"
       popover-class="bs-popover-bottom popover-value-submit"
       popover-animation="false"
       popover-append-to-body="true"
       popover-placement="bottom-left"
       popover-trigger="'outsideClick'"
       uib-popover-template="'popovers/new-pharm.html'">
        <i class="fa fa-plus"></i> Создать аптеку
    </button>
    <div class="grid" style="margin-top: 15px" id="gridSaveState" ui-grid="$ctrl.gridOptions" ui-grid-save-state ui-grid-move-columns ui-grid-exporter ui-grid-edit ui-grid-resize-columns ui-grid-selection ui-grid-cellnav></div>
</div>