<div>
    <nav class="navbar">
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="/img/gid-apteka-300x80.png" width="112" height="30"/>
        </a>
        <div ng-if="!currentUser.blocked" ng-repeat="link in $ctrl.interface[currentUser.interface].menu" >
            <a ng-if="!link.menu" ng-class="{active: $ctrl.$state.current.url === link.href}" href="{{link.href}}" class="nav-link" >{{link.name}}</a>
            <span uib-dropdown ng-if="link.menu" class="nav-link">
                <span uib-dropdown-toggle>{{link.name}}</span>
                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li ng-repeat="submenu in link.menu">
                      <a href="{{submenu.href}}">{{submenu.name}}</a>
                    </li>
                </ul>
            </span>
        </div>

        <div>
            <div>Пользователь: {{currentUser.full_name}} {{ $ctrl.interface[currentUser.interface].name || '' }}</div>
            <div style="font-size: 12px;">Аптека: <a href="javascript:void(0)" title="Изменить" ui-sref="app.view1">{{$ctrl.exchange.phname || 'Не выбрано'}}</a></div>
        </div>
        <a class="nav-link" href="javascript:void(0)" ng-click="logout()">Выйти ←</a>
    </nav>
    <div ng-if="!currentUser.blocked" ui-view=""></div>
    <div ng-if="currentUser.blocked">
        <h2 style="text-align: center; margin-top: 50px;">Ведутся регламентные расчеты. Попробуйте позже.</h2>
    </div>
</div>

<script type="text/ng-template" id="popovers/group-code-submit.html">
    <div class="input-group" style="flex-wrap: nowrap">
        <ui-select ng-model="$ctrl.popovers.code"
                   style=""
                   theme="bootstrap">
            <ui-select-match placeholder="Введите код...">{{$select.selected.goods_group_id}}, {{$select.selected.rgg_name}}</ui-select-match>
            <ui-select-choices repeat="code in $ctrl.codes track by $index"
                               refresh="$ctrl.refreshCodes($select.search)"
                               refresh-delay="0">
                <div ng-bind-html="(code.goods_group_id + ', ' + code.rgg_name) | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <div class="input-group-append">
            <button class="btn btn-outline-info" ng-click="$ctrl.onPopoverCodeSubmit($ctrl.popovers.code)" type="button">Добавить</button>
        </div>
    </div>
</script>