<div ng-repeat="cond in conditions" class="form-row">
    <div class="col-auto">
        <select ng-model="cond.field" ng-change="changeField($index)" class="form-control-sm">
            <option ng-repeat="opt in fields" ng-value="opt.field">{{opt.name}}</option>
        </select>
    </div>
    <div class="col-auto">
        <select ng-model="cond.cond" class="form-control-sm">
            <option ng-repeat="opt in compList" ng-if="showCondition(opt.val, cond)" ng-value="opt.val">{{opt.label}}</option>
        </select>
    </div>
    <div class="col-auto">
        <input type="text" ng-model="cond.value" class="form-control-sm"/>
    </div>
    <div class="col-auto">
        <button ng-click="ondelcond($index)" class="btn btn-outline-danger btn-sm">
            <i class="fa fa-minus"></i>
        </button>
        <button ng-click="onaddcond()" class="btn btn-outline-success btn-sm">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<div ng-show="conditions.length == 0" class="form-row">
    <button ng-click="onaddcond()" class="btn btn-outline-success btn-sm">
        <i class="fa fa-plus"></i>
    </button>
</div>