<div ng-repeat="cond in conditions" class="form-row">
    <div class="col-auto">
        <select ng-model="cond.field" ng-change="changeField($index)" class="form-control-sm">
            <option ng-repeat="opt in fields" ng-value="opt.field">{{opt.name}}</option>
        </select>
    </div>
    <div class="col-auto">
        <select ng-model="cond.cond" ng-change="changeCondition($index)" class="form-control-sm">
            <option ng-repeat="opt in compList" ng-value="opt.val">{{opt.label}}</option>
        </select>
    </div>
    <div class="col-auto">
        <input ng-if="['ls', 'nls', 'nl', 'nnl'].indexOf(cond.cond) === -1" type="text" ng-model="cond.value" class="form-control-sm"/>
        <ui-select ng-if="['ls', 'nls'].indexOf(cond.cond) > -1" multiple tagging tagging-label="" ng-model="cond.value" theme="bootstrap" style="min-width: 200px; max-width: 400px">
            <ui-select-match placeholder="">{{$item}}</ui-select-match>
            <ui-select-choices repeat="item in []">
                {{item}}
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-auto">
        <button ng-click="ondelcond($index)" class="btn btn-outline-danger btn-sm">
            <i class="fa fa-minus"></i>
        </button>
        <button ng-click="onaddcond()" class="btn btn-outline-success btn-sm">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<div ng-show="conditions.length == 0" class="form-row">
    <button ng-click="onaddcond()" class="btn btn-outline-success btn-sm">
        <i class="fa fa-plus"></i>
    </button>
</div>