
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Автозаказ
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content